.button {
  background-color: $button-bg;
  color: $button-color;
  border: none;
  cursor: pointer;
  padding: $button-spacing;
  text-transform: uppercase;
  font-size: $base-font-size;
  margin-bottom: $space;
  line-height: 1.2;
}
.button--link {
  text-decoration: none;
  display: inline-block; // allow impact spacing for another elements
}
.button--link:hover {
  text-decoration: none;

}
.button--pill {
  background-color: transparent;
  color: $button-pill-color;
  border: .1rem solid $button-pill-color;
  padding: .3rem .8rem;
  margin: 0 $space/2 0 0;
}
.button--secondary {
  background-color: $button-secondary-bg;
  border: .1rem solid $button-secondary-border-color;
  color: $button-secondary-color;
}
.button--link-text {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
  text-transform: none;
  text-decoration: underline;
}
.button--link-text:hover {
  text-decoration: none;
}
